<!DOCTYPE html>
<html ng-app="conferenceroom" ng-controller="MainCtrl">
<head>
  <meta charset="utf-8">
  
  <title>{{title}}</title>
  
  <script src="/lodash/lodash.min.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/angular-aria/angular-aria.js"></script>
  <script src="/angular-animate/angular-animate.js"></script>
  <script src="/angular-material/angular-material.js"></script>
  <script src="/socket.io-client/dist/socket.io.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/angular-material/angular-material.min.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
</head>
<body>
  <h1 class="md-display-2">LC9 Conference Room</h1>

  <div ng-cloak>
    <md-content>

      <h4 class="md-title">Step 1: Select the screen(s) you would
        like to control:</h4>
  
      <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" md-selected="4"> 
        <md-tab> 
          <md-tab-label>
            <div class="md-display-1">
              <i class="fa fa-television" aria-hidden="true"></i>
            </div>
            <div>Left Information Radiator</div>
          </md-tab-label>
          <md-tab-body>
            <md-content>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
                vulputate. Etiam consequat aliquam cursus. In sodales pretium
                ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
                feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor
                in ultrices porttitor, orci enim rutrum enim, vel tempor sapien
                arcu a tellus. Vivamus convallis sodales ante varius gravida.
                Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam
                malesuada consequat diam, a facilisis tortor volutpat et. Sed urna
                dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed
                felis risus, pulvinar at interdum quis, vehicula sed odio.
                Phasellus in enim venenatis, iaculis tortor eu, bibendum ante.
                Donec ac tellus dictum neque volutpat blandit. Praesent efficitur
                faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare
                dui nec orci posuere, nec luctus mauris semper.</p>
              <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra
                quam, at semper massa orci nec magna. Donec posuere nec sapien sed
                laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in
                tempor tortor. Vivamus faucibus egestas enim, at convallis diam
                pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna
                libero, viverra sit amet nisl at, hendrerit tempor turpis.
                Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo.
                Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet
                interdum tellus. Curabitur posuere molestie dictum. Morbi eget
                congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat,
                at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo
                volutpat non ac est. Praesent ligula diam, congue eu enim
                scelerisque, finibus commodo lectus.</p>
            </md-content>
          </md-tab-body> 
        </md-tab>
        
        <md-tab> 
          <md-tab-label>
            <div class="md-display-1">
              <i class="fa fa-television" aria-hidden="true"></i>
            </div>
            <div>Center Information Radiator</div>
          </md-tab-label> 
          <md-tab-body>
            <md-content>
              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet
                interdum tellus. Curabitur posuere molestie dictum. Morbi eget
                congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat,
                at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo
                volutpat non ac est. Praesent ligula diam, congue eu enim
                scelerisque, finibus commodo lectus.</p>
            </md-content>
          </md-tab-body> 
        </md-tab>
        
        <md-tab> 
          <md-tab-label>
            <div class="md-display-1">
              <i class="fa fa-television" aria-hidden="true"></i>
            </div>
            <div>Right Information Radiator</div>
          </md-tab-label> 
          <md-tab-body>
            <md-content>
              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet
                interdum tellus. Curabitur posuere molestie dictum. Morbi eget
                congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat,
                at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo
                volutpat non ac est. Praesent ligula diam, congue eu enim
                scelerisque, finibus commodo lectus.</p>
            </md-content>
          </md-tab-body> 
        </md-tab> 
      
        <md-tab> 
          <md-tab-label>
            <div class="md-display-1">
              <i class="fa fa-television" aria-hidden="true"></i>
              <i class="fa fa-television" aria-hidden="true"></i>
            </div>
            <div>Front Displays</div>
          </md-tab-label>
          
          <md-tab-body> 
            <md-content>
              <section layout="row" layout-sm="column" layout-align="center center" layout-wrap style="padding-top: 20px;">
                <div class="label">Quick settings for front displays:</div>
                
                <md-button class="md-raised" aria-label="Eat cake">
                  <span class="md-display-1" style="display: inline-block; vertical-align: middle;">
                    <i class="fa fa-google" aria-hidden="true"></i>
                  </span>
                  <span style="display: inline-block; vertical-align: middle;">Hangouts</span>
                </md-button>
                <md-button class="md-raised" aria-label="Eat cake"> 
                  <span class="md-display-1" style="display: inline-block; vertical-align: middle;"> 
                    <i class="fa fa-skype" aria-hidden="true"></i>
                  </span>
                  <span style="display: inline-block; vertical-align: middle">Skype</span>
                </md-button>
                <md-button class="md-raised" aria-label="Eat cake">
                  <span class="md-display-1"
                        style="display: inline-block; vertical-align: middle"> 
                    <i class="fa fa-apple" aria-hidden="true"></i>
                  </span> 
                  <span style="display: inline-block; vertical-align: middle;">Apple TV</span> 
                </md-button>
              </section>
      
              <div layout="row">
                <div flex="33" layout-align="center" layout-margin layout-padding>
          
                  <span ng-if="getDevice('hdmiswitch','iogear','frontleft').model.input !==
          			           getDevice('hdmiswitch','iogear','frontleft', true).model.input">
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                  </span>
          
                  <h4 class="md-subhead" text-align="center">
                    Show content on the <strong>left display</strong> from:
                    
                    {{getDevice('hdmiswitch','sharp','frontleft').model.input}}
                  </h4>
                  
                  <md-radio-group ng-model="getDevice('hdmiswitch','iogear','frontleft').model.input">
                    <md-radio-button ng-value="1" class="md-primary"> Chromebox for Meetings </md-radio-button> 
                    <md-radio-button ng-value="2" class="md-primary"> Apple TV </md-radio-button> 
<!--                     <md-radio-button ng-value="3" class="md-primary"> Windows NUC (with Skype) </md-radio-button> -->
                    <md-radio-button ng-value="4" class="md-primary"> Desk HDMI Cable </md-radio-button> 
                  </md-radio-group>
                </div>
          
                <div flex="34" layout-margin layout-margin layout-padding>
                  <h4 class="md-subhead">
                    Show content on the <strong>right display</strong> from:
                  </h4>
                  <md-radio-group ng-model="getDevice('hdmiswitch','iogear','frontright').model.input">
                    <md-radio-button ng-value="1" class="md-primary"> Chromebox for Meetings </md-radio-button> 
                    <md-radio-button ng-value="2" class="md-primary"> Apple TV </md-radio-button>
<!--                     <md-radio-button ng-value="3" class="md-primary"> Windows NUC (with Skype) </md-radio-button> -->
                    <md-radio-button ng-value="4" class="md-primary"> Desk HDMI Cable </md-radio-button>
                  </md-radio-group>
                </div>
          
                <div flex="33" layout-margin layout-margin layout-padding>
                  <h4 class="md-subhead">Send USB (keyboard, mouse, webcam) to:</h4>
                  <md-radio-group ng-model="getDevice('usbswitch','smartavi','front').model.input">
                    <md-radio-button ng-value="2" class="md-primary"> Chromebox for Meetings </md-radio-button>
                    <md-radio-button ng-value="3" class="md-primary"> Desk HDMI Cable </md-radio-button>
<!--                     <md-radio-button ng-value="4" class="md-primary"> Windows NUC (with Skype) </md-radio-button> -->
                  </md-radio-group>
                </div>
              </div>
            </md-content>
          </md-tab-body> 
        </md-tab> 
      </md-tabs> 
    </md-content>
  </div>
</body>
</html>
