<!DOCTYPE html>
<html ng-app="conferenceroom" ng-controller="MainCtrl">
<head>
  <meta charset="utf-8">
  
  <title ng-cloak>{{title}}</title>
  
  <script src="/lodash/lodash.min.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/angular-aria/angular-aria.js"></script>
  <script src="/angular-animate/angular-animate.js"></script>
  <script src="/angular-material/angular-material.js"></script>
  <script src="/socket.io-client/dist/socket.io.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/angular-material/angular-material.min.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
</head>
<body class="lcav hackathonroom">
  <h1 class="md-display-2">LC9 Hackathon Room</h1>

<!-- 
  <div ng-cloak>
    <md-content>

      <h4 class="md-title">Step 1: Select the screen(s) you would
        like to control:</h4>
  
      <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" md-selected="4"> 
        <md-tab> 
          <md-tab-label>
            <div class="md-display-1">
              <i class="fa fa-television" aria-hidden="true"></i>
            </div>
            <div>Microsoft Surface Hub</div>
          </md-tab-label>
          <md-tab-body>
            <md-content>
              <p></p>
            </md-content>
          </md-tab-body> 
        </md-tab>
        
        <md-tab> 
          <md-tab-label>
            <div class="md-display-1">
              <i class="fa fa-television" aria-hidden="true"></i>
            </div>
            <div>Top Information Radiator</div>
          </md-tab-label> 
          <md-tab-body>
            <md-content>
              <p>.</p>
            </md-content>
          </md-tab-body> 
        </md-tab>
        
        <md-tab> 
          <md-tab-label>
            <div class="md-display-1">
              <i class="fa fa-television" aria-hidden="true"></i>
            </div>
            <div>Bototm Information Radiator</div>
          </md-tab-label> 
          <md-tab-body>
            <md-content>
              <p></p>
            </md-content>
          </md-tab-body> 
        </md-tab> 
      
        <md-tab> 
          <md-tab-label>
            <div class="md-display-1">
              <i class="fa fa-television" aria-hidden="true"></i>
              <i class="fa fa-television" aria-hidden="true"></i>
            </div>
            <div>Front Displays</div>
          </md-tab-label>
          
          <md-tab-body> 
            <md-content>
              <section layout="row" layout-sm="column" layout-align="center center" layout-wrap style="padding-top: 20px;">
                <div class="label">Quick settings for front displays:</div>
                
                <md-button class="md-raised" aria-label="Eat cake">
                  <span class="md-display-1" style="display: inline-block; vertical-align: middle;">
                    <i class="fa fa-google" aria-hidden="true"></i>
                  </span>
                  <span style="display: inline-block; vertical-align: middle;">Hangouts</span>
                </md-button>
                <md-button class="md-raised" aria-label="Eat cake"> 
                  <span class="md-display-1" style="display: inline-block; vertical-align: middle;"> 
                    <i class="fa fa-skype" aria-hidden="true"></i>
                  </span>
                  <span style="display: inline-block; vertical-align: middle">Skype</span>
                </md-button>
                <md-button class="md-raised" aria-label="Eat cake">
                  <span class="md-display-1"
                        style="display: inline-block; vertical-align: middle"> 
                    <i class="fa fa-apple" aria-hidden="true"></i>
                  </span> 
                  <span style="display: inline-block; vertical-align: middle;">Apple TV</span> 
                </md-button>
              </section>
      
              <div layout="row">
                <div flex="33" layout-align="center" layout-margin layout-padding>
                
                  <h4 class="md-subhead" text-align="center">
                    Show content on the <strong>left display</strong> from:
                  </h4>
                  
                  <md-radio-group ng-model="none">
                    <md-radio-button ng-value="1" class="md-primary"> Chromebox for Meetings </md-radio-button> 
                    <md-radio-button ng-value="2" class="md-primary"> Apple TV </md-radio-button> 
                    <md-radio-button ng-value="4" class="md-primary"> Desk HDMI Cable </md-radio-button> 
                  </md-radio-group>
                </div>
          
                <div flex="34" layout-margin layout-margin layout-padding style="position:relative;">
                
                  <h4 class="md-subhead">
                    Show content on the <strong>right display</strong> from:
                  </h4>
                  <md-radio-group ng-model="getDeviceModelState('hdmiswitch.front_right', 'input').value">
                    <md-radio-button ng-value="1" 
                                     ng-click="setDeviceState('hdmiswitch.front_right', 'input', 1)" 
                                     class="md-primary"> 
                        Chromebox for Meetings 
                    </md-radio-button>
                    <md-radio-button ng-value="2" 
                                     ng-click="setDeviceState('hdmiswitch.front_right', 'input', 2)" 
                                     class="md-primary"> 
                        Apple TV 
                    </md-radio-button>
                    <md-radio-button ng-value="3" 
                                     ng-click="setDeviceState('hdmiswitch.front_right', 'input', 3)" 
                                     class="md-primary"> 
                        HDMI Ground Port 
                    </md-radio-button>
                  </md-radio-group>
                  
                  <div layout="row" layout-align="center center" 
                       style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;font-size: 40px;opacity: 0.8;background: white;"
                       ng-if="getDeviceModelState('hdmiswitch.front_right', 'input').isUpdating">
                    <i class="fa fa-spinner fa-spin fa-fw" style="margin:auto;"></i>
                  </div>
                  
                </div>
          
                <div flex="33" layout-margin layout-margin layout-padding style="position:relative;">
                  <h4 class="md-subhead">
                    Send USB (keyboard, mouse, webcam) to:
                     [[[ {{getDeviceModelState('usbswitch.camera_mics_speakers', 'input')}} ]]] 
                  </h4>
                  <md-radio-group ng-model="getDeviceModelState('usbswitch.camera_mics_speakers', 'input').value">
                    <md-radio-button ng-value="2" 
                                     ng-click="setDeviceState('usbswitch.camera_mics_speakers', 'input', 2)" 
                                     class="md-primary"> 
                      Desk USB Cable
                    </md-radio-button>
                    <md-radio-button ng-value="3" 
                                     ng-click="setDeviceState('usbswitch.camera_mics_speakers', 'input', 3)" 
                                     class="md-primary"> 
                      Chromebox for Meetings  
                    </md-radio-button>
                    <md-radio-button ng-value="4" 
                                     ng-click="setDeviceState('usbswitch.camera_mics_speakers', 'input', 4)" 
                                     class="md-primary"> 
                      Another device  
                    </md-radio-button>
                    <md-radio-button ng-value="5" 
                                     ng-click="setDeviceState('usbswitch.camera_mics_speakers', 'input', 5)" 
                                     class="md-primary"> 
                      Another device 2 
                    </md-radio-button>
                  </md-radio-group>
                  
                  <div layout="row" layout-align="center center" 
                       style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;font-size: 40px;opacity: 0.8;background: white;"
                       ng-if="getDeviceModelState('usbswitch.camera_mics_speakers', 'input').isUpdating">
                    <i class="fa fa-spinner fa-spin fa-fw" style="margin:auto;"></i>
                  </div>
                </div>
              </div>
            </md-content>
          </md-tab-body> 
        </md-tab> 
      </md-tabs> 
    </md-content>
  </div> -->
  
</body>
</html>
