body {
  padding: 20px;
  background-color: rgb(250,250,250);
}

body.lcav.hackathonroom md-content{
  background-color: rgb(250,250,250);
}

body.lcav.hackathonroom md-card.display{
  position:relative;
  transition: all linear 0.25s;
}
body.lcav.hackathonroom md-card button.highlight-display{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  opacity: 0.75;
  border:0;
  outline:0;	
  background-color:white;
  z-index: 100;
}
body.lcav.hackathonroom md-card button.highlight-display:focus{
  outline:0;
}


body.lcav svg g.poweron path{
  fill:green;
}
body.lcav svg g.poweroff path{
  fill:red;
}







a {
/*   color: #00B7FF; */
}

.md-display-2, .md-display-3{
	margin:0;
}
md-tabs-canvas{
	height: 100px;
}
md-tabs-canvas md-pagination-wrapper{
	height: 100px;
}

md-tabs md-content{
/* 	background: #f6f6f6; */
}

md-tabs md-tab-item.md-tab{
	/*color:white;*/
/* 	font-weight:normal; */
/* 	white-space:normal; */
/* 	word-break: break-word; */
}
md-tabs md-tab-item.md-tab.md-active{
/* 	font-weight:bold; */
}

md-tab-item img{
	opacity: 0.5;
	height: 125px;
}
md-tab-item.md-active img{
	opacity: 1;
}

body.lcav md-radio-group md-radio-button{
	outline: none;
}


